[2016-11-23 19:34] freebroccolo opened #1 "Choose default values for settings if not provided by client"
The server expects the client to provide certain configuration settings when connecting. But rather than failing if this doesn't happen, we should just pick some reasonable defaults and perhaps send a warning notification to the client.

See https://github.com/tjdevries/nvim-langserver-shim/issues/10

[2016-11-25 06:16] #1 closed

[2016-12-28 22:46] freebroccolo opened #2 "Rename symbol doesn't work for modules"
Reminder to look into this again. I think the last time I checked it was due to a limitation in merlin.

[2016-12-28 22:48] freebroccolo opened #3 "Generate build tasks for vscode"

[2017-01-13 18:33] freebroccolo opened #4 "Allow the server to reload if package.json is modified"

[2017-01-15 19:03] freebroccolo opened #5 "Feature: annotate region with type"
The idea is to use merlin to infer the type and then allow the user to add it to the document around the region (e.g., a definition or expression).

/cc @bobzhang

[2017-05-10 19:53] rgrinberg opened #8 "How come this isn't written in OCaml?"
Just curious why OCaml wasn't chosen as the language for this project? LSP is not just useful to vscode now, so it seems to make sense to write the server in a language that all contributors to this plugin will know.

[2017-05-11 00:42] freebroccolo commented on #8
When I started this, it was a lot easier to make use of the lsp client/server libs that were already provided by Microsoft. Parts of the protocol were still changing too (maybe they still are; haven't checked recently) and I wanted to avoid having to deal with compatibility issues around that.

I had intended to rewrite the server from scratch in OCaml eventually though and I even started working

[2017-05-11 03:43] rgrinberg commented on #8
Thanks for the detailed reply. You've listed some very compelling reasons. I still think it's advantageous to port this to OCaml in the long run but I do think that we need a real alternative to this LokiJS db first. I don't think that reaching for opam should be such a problem though. Especially give that users are already expected to have it with merlin. But I do agree that this has to be pretty

[2017-06-02 08:40] freebroccolo opened #9 "Ensure formatters are available on initialization"

[2017-06-02 08:44] freebroccolo opened #10 "Expose range formatting capability for OCaml"

[2017-06-08 23:00] freebroccolo opened #14 "Switch ocamldoc parser to chevrotain"

[2017-06-09 00:34] freebroccolo opened #15 "Test with other editors"
- [x] emacs
- [ ] nuclide
- [ ] oni
- [x] sublime

[2017-06-09 19:57] bd82 commented on #14
Hello @freebroccolo

Author of Chevrotain here 😄

I'm always interested in feedback why you are interested in switching to Chevrotain?
Also feel free to open issues if you have problems during the conversion.

Does ocmal have quirks in its grammar that require special handling?

[2017-06-09 21:29] freebroccolo commented on #14
Hi @bd82. I am currently using pegjs. The reason for the switch is not particularly deep but mostly just because I prefer the interface and greater flexibility of Chevrotain. I've used it in another project and liked it.

[2017-06-10 06:50] bd82 commented on #14
I just understood you are using the grammar **just** for the Docs.
https://github.com/freebroccolo/ocaml-language-server/blob/master/src/shared/parser/ocamldoc/grammar.pegjs

So that explains why you do not require any of the fancier features 😄

[2017-06-10 07:38] freebroccolo commented on #14
@bd82 Yeah, that is correct. Currently it is only the docs.

But there is one other main feature that I might try to implement using Chevrotain that is more complex. You can see it [here](https://github.com/freebroccolo/vscode-reasonml/issues/4#issuecomment-304397710). Previously I wrote a parser by hand to do this because it required some tricky bits involving parsing parts of the syntax in rever

[2017-06-10 08:44] bd82 commented on #14
I've had a look at the parameters hints issue.

I'm afraid I am not familiar with the tools involved (merlin / reason).
But it seems a little strange to implement your own backward parser when you have a language services server (merlin).

* Is merlin lacking in functionality to enable implementing the parameter hints?
* is there no way to easily link a position in the text to the syntax tree and

[2017-06-10 09:44] freebroccolo commented on #14
Regarding the parameter hints issue, technically some or most of the information should already be present in the merlin parsing/checking state but currently this data is not directly exposed through the merlin query API. I've discussed getting this supported upstream but it will probably be awhile before it happens. So for the moment the only way to handle it on my end is to do some additional pa

[2017-06-10 16:59] freebroccolo opened #17 "Integrate with BetterErrors"

[2017-06-17 17:32] freebroccolo opened #19 "Give better error messages when spawning process fails"
We already do this for `ocamlmerlin` when the server first starts up but we should really do it for all processes more systematically.

[2017-06-17 17:40] freebroccolo opened #20 "Use heuristics to find and suggest binaries if spawn process fails"
This would be a kind of extension of the techniques already being used to set up the sandboxed environment for Reason projects. We should do this more systematically and also check standard locations where things might be installed but are for some reason not added to the user's `PATH`.

[2017-06-17 19:26] freebroccolo opened #21 "Retain server connection even when certain processes fail"
The server should shutdown if `ocamlmerlin` fails but not if something less import like `refmt` fails. In the latter case, we should try to recover, notify the user, and keep running.

[2017-06-22 00:38] extr0py opened #22 "textDocument/didChange event does not work if `range` is omitted"
One blocker for integration with Oni (https://github.com/extr0py/oni/pull/488) is that, in some cases, Oni sends the full document text via `textDocument/didChange` to the language server. This can happen if edits are made in normal mode, and currently, there isn't a convenient way to diff these - so Oni sends over the full content through a `textDocument/didChange` event. I'd like to fix this eve

[2017-06-22 00:40] extr0py opened #23 "Possible to release new NPM version?"
It looks like the latest package for ocaml-language-server is out-of-date - it was last updated 4 months ago. There have been several fixes between then and now.

It'd make it easier to consume this language server from Oni (https://github.com/extr0py/oni/pull/488), either via a `package.json` dependency or directly installed by `npm install -g`.

Thanks!

[2017-06-22 03:32] freebroccolo commented on #23
Yeah, I was just thinking about this earlier. I've been planning a release soon but was waiting on a few other items first. But I can just go ahead and make an interim release. I'll take a look at doing that tomorrow or so.

[2017-06-22 03:39] freebroccolo commented on #22
I see. If I understand correctly, I think it shouldn't be too hard to address this. I'll take a look.

[2017-06-23 14:44] extr0py commented on #23
Awesome, thanks @freebroccolo !

[2017-06-23 14:47] extr0py commented on #22
Cool, I think it should be (relatively) straightforward too, looking at `synchronizer.ts`. I'm happy to help here with a PR as well if you're working on other things!

[2017-06-23 15:53] freebroccolo commented on #22
Yeah, I've been a little bit short on time this week but I plan to do some work on the server this weekend. But if you are interested in submitting a PR that would certainly be welcome!

[2017-06-23 18:49] extr0py commented on #22
Definitely, know how that goes! Sweet, I'll work on a PR and submit it shortly.

[2017-06-29 03:29] jordwalke commented on #8
@rgrinberg

Some things are changing now that people are installing all of the OCaml compiler, Reason, `utop`, `rtop`, and `merlin` via `npm` thanks to`reason-cli`. `reason-cli` is currently a *native* package that has no dependency on nodeJS at all, and builds with pure Make/bash.

The good news is that this means we can also bundle prebuilt native binaries of a language server rewritten in OCaml

[2017-07-03 05:54] #22 closed

[2017-07-18 09:44] chenglou opened #26 "Doesn't seem to work with Sublime Text"
I've tried with https://github.com/sourcegraph/sublime-lsp

My SublimeLsp.sublime-settings:

[code]

`[Errno 32] Broken pipe` in the sublime console

[2017-08-03 00:25] fhelwanger opened #27 "Make dependencyEnv detection cross platform"
I was trying to make ocaml and reason work on windows through WSL. More info here: https://github.com/reasonml/reason-cli/issues/35#issuecomment-319727823

It worked fine until I tested the vscode-reasonml extension on one machine where it can't find `sh` because I don't have cygwin or something similar installed.

The problem is because of that:

https://github.com/freebroccolo/ocaml-language-ser

[2017-08-03 04:02] chenglou commented on #27
Btw dependency-env is deprecated. We can & should remove it completely

[2017-08-04 01:25] RCmerci opened #28 "Unknown request method: reason.client.giveWordAtPosition"
![image](https://user-images.githubusercontent.com/5608710/28950469-b8cef912-78f6-11e7-92f7-6114565efced.png)

lsp-mode in emacs client.
could it be any config uncorrectly?
 i just copy the config elisp in README to my .emacs.

when i try to complete-symbol, emacs says "Unknown request method: reason.client.givePrefix"

[2017-08-05 15:32] RCmerci commented on #28
i found 'reason.client.givePrefix' is ocaml-language-server's private request, is it right?
so i should implement these 'reason.client.X' in emacs client to make it works?

[2017-08-07 11:17] fhelwanger commented on #27
OK, I created #29 to remove it.

[2017-08-08 05:45] chenglou opened #30 "Move this into reasonml-editor?"
Hey @freebroccolo, can this/should this be moved into reasonml-editor like for vscode-reasonml? This way the other members can help approve PRs. Though if you'd like to keep ownership of this, I totally understand.

Also the name reasonml-editor might be a misnomer like reason-community. OCaml integration are welcomed in there too.

[2017-08-24 18:47] freebroccolo commented on #26
Did you manage to get any of the other language servers to work with that plugin? I tried awhile back and didn't have any luck (I think I tried the typescript and go servers) but since I don't use Sublime much I wasn't sure if it was just a problem on my end. I'll try to take a look at it again though.

[2017-08-24 19:06] #27 closed

[2017-08-28 15:44] frou commented on #26
sourcegraph's language server client for Sublime seems to be abandoned. There is a new client under active development here: https://github.com/tomv564/LSP

[2017-08-29 21:02] bsansouci commented on #26
Getting
[code]
After fixing this
[code]
by setting `"ocamlmerlin"` in settings to an absolute path.

[2017-08-29 21:10] freebroccolo commented on #26
@bsansouci I think the second part that required the absolute path might be due to a regression from #29. Need to investigate. Not sure about the broken pipe though. When I tried the emacs client I didn't see that as far as I remember.

Do the other language servers work okay with that plugin for you?

[2017-08-29 21:18] bsansouci commented on #26
It started off with
[code]

But then I write some stuff and hovering worked and type inference worked (with docs for example about `console.log`). I don't know about all of the capabilities of the JS one but seems like there was some communication going on.

[2017-08-29 21:26] bsansouci commented on #26
Ok I just tried by hardcoding ocamlmerlin's path into the JS of the plugin and called `initialize` inside the constructor of the `merlin` class.
Here's the full logs:
[code]

I load the file called Child1.re, I hover over two things and then write `print_endline`.

I have no idea what those messages mean, is that unhandled stuff on LSP's side?

[2017-08-29 21:38] freebroccolo commented on #26
@bsansouci Are you using the release version of the server or building from `master`? I believe the part about unhandled `reason.client.giveTextDocument` and `reason.client.giveWordAtPosition` refers to an older custom message that the server required clients to implement but it is no longer needed if you build the server from `master`.

So maybe it will work if you can try directly from the `mast

[2017-08-29 21:47] freebroccolo commented on #28
Sorry for the late response. Yes, `reason.client` messages are custom messages that the client was expected to respond to. However, they are no longer needed with the development version of the server and will be phased out in the next release.

If you build the server from the `master` branch is should work. Otherwise I am planning to make a new release very soon.

[2017-09-04 05:16] chenglou commented on #26
Master works on ST! Closing this issue, thanks @frou!

@freebroccolo would it be possible to make a new release?

[2017-09-04 05:16] #26 closed

[2017-09-07 23:36] freebroccolo commented on #23
Sorry for the delay on this. New version is released now.

[2017-09-07 23:36] #23 closed

[2017-09-07 23:50] bsansouci commented on #26
Works here too!

[2017-09-09 19:09] jchavarri commented on #17
@freebroccolo I'd be interested in helping with this, if nobody else has claimed it. I've been able to set up the environment, but quickly ran into a couple of things:

- How do you set up the dev environment in vscode? I cloned both the extension and this repo, and managed to get the debugger running for the client / extension, but i haven't been able to use the "attach process" approach explaine

[2017-09-09 20:27] freebroccolo commented on #17
It's been awhile since I tried to run the server in debug mode but I know that it did work at one point and I believe the setup was pretty much the same as how it is described in the vscode docs for the example language server thing.

What might be going on is that some of the project settings under the `.vscode` directory might be out of date and that might be causing problems getting the debuggi

[2017-09-09 21:18] chenglou commented on #17
Outputting json might be slightly tricky,. It in the worst case I can output an easy to parse format.
Glad to see this picked up!

[2017-09-10 00:46] jchavarri commented on #17
This is a great idea, I actually managed to solve it using that approach, seemed to be a problem upstream (fix in https://github.com/reasonml-editor/vscode-reasonml/pull/99).

Thanks for the pointers, I'm gonna play more to understand better how the protocol works and report back in case I hit any roadblocks.

[2017-09-10 10:31] chenglou commented on #30
Bah, good enough! =)

[2017-09-10 10:31] #30 closed

[2017-09-11 17:31] arxanas commented on #28
There was a new release as per https://github.com/freebroccolo/ocaml-language-server/issues/23#issuecomment-327957138, so I think this can be closed.

[2017-09-11 17:31] #28 closed

[2017-09-21 20:42] chenglou opened #33 "[Feature request] multicursor rename by default"
I came across a related tweet today that describes what I'd like to see in our lang-server:

https://twitter.com/wesbos/status/910917756299677696

We have a rename facility; I was wondering if renaming a single variable can auto rename all of them, in real-time (per-keystroke)\*, with little perf drawback, and whether this belongs in lang-server or individual editor impl.

\* the point is per-keys

[2017-09-21 21:45] freebroccolo commented on #33
I don't think the current language server API supports this kind of functionality. However, we could probably still support it through custom RPC somehow.

As for whether this should be done purely through the editor and not even involve the server, I guess it depends. The advantage to using the server for rename is that it relies on merlin and is supposed to function correctly in a workspace-wide

[2017-09-21 22:06] chenglou commented on #33
Well, since merlin doesn't do cross-files refactors (cc @let-def), I guess we don't have to worry about that?

[2017-09-22 21:50] jchavarri opened #34 "Invalid line numbers being sent to diagnostics"
When having a Reason file like:

[code]

It seems the query results from Merlin include a negative line number so the extension chokes with:

`Notification handler 'textDocument/publishDiagnostics' failed with message: Illegal argument: line must be positive`

@freebroccolo @let-def @chenglou I think this can be solved in here, but maybe the case is useful to be treated upstream in `ocaml/merlin`?

[2017-09-22 22:00] chenglou commented on #34
And super-errors & your work on #32 solves it, right?

OCaml line logics is super weird, here's how I streamlined them: https://github.com/BuckleScript/bucklescript/blob/bc53ffd5a178d023407760a1fdcbda35345b1584/jscomp/super_errors/super_location.ml#L70 https://github.com/BuckleScript/bucklescript/blob/bc53ffd5a178d023407760a1fdcbda35345b1584/jscomp/super_errors/super_misc.ml#L36

[2017-09-23 00:15] jchavarri commented on #34
No, I checked that even bsb w/ super-errors fails to output line numbers or file data as well. I didn't debug it but this is the output from the command line:

[code]

[2017-09-23 01:05] chenglou commented on #34
(Discussed offline)

This isn't a problem of negative column numbers, which super-errors solves correctly (and I imagine merlin too). Here, the file is literally `""`. I've seen it happen a few times and in this case Reason's parser fails but lost the file name somehow. It's a case we should cover though; might happen with ppx macros.

[2017-09-23 02:45] chenglou commented on #34
I've landed https://github.com/BuckleScript/bucklescript/pull/2053 which turns `"_none_"` and `""` into `"(No file name)"` so that they're easier to grep at least.

[2017-10-04 15:30] j-piecuch opened #36 "UnhandledPromiseRejectionWarning when handling compiler diagnostics, fails to write response to client"
I've been trying set up my Neovim for working with OCaml.
Everything is working fine except for compiler diagnostics (I know that the client supports them).
I tried to peek into the messages exchanged between the client and the server using `strace`, and here's what I got:
[code]

The warning happens only when diagnostics are requested.

[2017-10-04 19:31] freebroccolo commented on #36
Hmm, I'm not sure what could be causing that. More information might help.

- Can you provide me with the complete OCaml project you are testing with?
- Can you try vscode with the Reason plugin (which supports OCaml) and see if that fails too?
- How are you configuring Neovim to talk to the server?
- Do you have any problems with other language servers?

[2017-10-04 20:59] j-piecuch commented on #36
1. I've uploaded the project for you to see: https://github.com/j-piecuch/issue-ocaml
2. I've installed VS Code, Reason and your plugin, and the same warning appears in the plugin's output every time I make a change to the document. No compiler diagnostics.
3. I don't have any custom configuration as far as the client is concerned, I'm using https://github.com/autozimu/LanguageClient-neovim
4. I'm

[2017-10-04 22:49] freebroccolo commented on #36
Thanks. I will take a look and see if I can reproduce. It sounds like it's probably an issue on the server side if it's happening with both clients/editors. Might be due to some recent API changes upstream but I'm not sure yet.

[2017-10-05 19:59] anmonteiro opened #37 ""Go to definition" error in emacs"
I'm getting the following error in Emacs when trying to "find references" for a symbol.
Apparently lsp-mode supports this, but I get an error message:

[code]

Any ideas on what to look for?

[2017-10-05 20:34] anmonteiro commented on #37
"Go to definition" also seems to fail to find any definitions.

I wonder if we're not passing all the files to the Language Server or something (I'm not even sure that we need to do that).

I set up my emacs as the README indicates. Let me know if I'm missing something, or how I can provide further help.

[2017-10-05 21:56] anmonteiro commented on #37
I just installed VSCode and neither "Go to definition" or "Find references" are working for me there too, which leads me to believe the bug is indeed in the language server

[2017-10-05 23:12] freebroccolo commented on #37
Can you provide me with a project repo which is showing this behavior for you? Both of those seem to be working for me with current client/server versions on at least one project I tested with just now. It's possible there are some new issues related to recent API changes upstream though.

[2017-10-05 23:13] anmonteiro commented on #37
I tested this with https://github.com/anmonteiro/rekeys

[2017-10-07 20:54] anmonteiro opened #38 "`textDocument/hover` error on last line of a file"
When hovering over a symbol on the very last line of a file I'm getting the following error:

[code]

[2017-10-07 22:43] anmonteiro commented on #37
@freebroccolo So turns out this works with Merlin 2.5.5, but not with Merlin 3.x, most likely due to their changing the protocol.

Feel free to close if Merlin 3.x is not meant to be supported

[2017-10-07 22:51] freebroccolo commented on #37
I haven't had a chance to try with your repo yet but that sounds strange about the older version of Merlin working okay for you but not the current one. When I commented earlier I was testing earlier with ocaml `4.05.0` and merlin `3.0.2` earlier and it was working. I don't recall any changes in the API that should have broken anything in the server but it's been awhile since I looked at the spec.

[2017-10-07 23:22] #38 closed

[2017-10-09 01:33] Khady commented on #37
likely due to their changing the protocol.

IIUC, Merlin 3.x is still supposed to handle the old protocol. So if you
can reproduce with another editor, it might worth a bug report on merlin
repository.

But I have been using merlin 3 for some time and I didn't have a problem a
compatibility yet.

[2017-10-09 23:22] freebroccolo opened #43 "Implement settings migration functionality"
It would be nice to have some sort of settings migration functionality so that we can change the user settings in future releases without too much annoyance to the user. I'm not sure if the vscode or language server APIs include anything that would make this easier or not. Shouldn't be too hard to roll our own though.

Ideally we could have something where upon reloading the editor (after upgradin

[2017-10-11 23:51] freebroccolo opened #45 "WSL support"
See discussion at https://github.com/reasonml-editor/vscode-reasonml/issues/113

There's a PR started for this at https://github.com/freebroccolo/ocaml-language-server/pull/44

Here are some items I would like to see for integrating this into the server (some already there):

- [x] add platform detection functionality
- [x] on windows, check for WSL
- [ ] on windows, check for WSL installed OCaml

[2017-10-12 05:04] j-piecuch commented on #36
It works fine after a rollback to merlin 2.5.5, I guess an API change in 3.0.0 would explain the issue.

[2017-10-19 18:17] est31 commented on #45
@freebroccolo sorry to disturb you but I'm trying to contact you in the matter of getting the rust-lang/rfcs repo under a proper license. Could you please have a look at this issue: https://github.com/rust-lang/rfcs/issues/2077 ? Thanks!

[2017-10-20 20:08] freebroccolo opened #50 "Add support for ocamlformat"
It would be nice to support `ocamlformat` as an alternative to `ocp-indent`. In order to do this we will need to add a setting to allow the user to configure which formatter to use.

[2017-10-26 06:27] cristianoc opened #51 "Interface/implementation mismatch errors not reported."
When working on vscode with `"reason.bsb.enabled": true`, this is the flow I'm observing:
1) Rename a function `foo` in the .re file to `foo2`, keep .rei unchanged.
2) Error "does not match the interface..." only reported in the terminal, not in the editor.
3) Rename to `foo2` also in the .rei file.
4) Now follow-on usage errors "value foo2 can't be found" reported both in the terminal and in the

[2017-10-27 13:16] chenglou opened #52 "Use the BuckleScript vendored version of refmt instead of the global one, when available"
cc @bobzhang, @jchavarri

This way we avoid inconsistencies from formatting using a global refmt while the project compiles using another refmt.

[2017-10-29 21:28] j-piecuch opened #53 "merlin looks up weird paths after being passed URI to file instead of ordinary path"
I'm using `merlin` 2.5.5, `OCaml` 4.02.3, `ocaml-language-server` 1.0.1.
It started with `merlin` not being able to find symbols defined in other files in the project,
even though the `.merlin` file was correct and the .cmi files were in the right directories.
I looked at the `ocamlmerlin` process with `strace` to see what paths it was looking up, and the following happens (let's assume that I'm e

[2017-10-31 13:02] j-piecuch commented on #53
The issue goes away after I filtered out the `file://` prefixes from the paths sent from the server to `merlin`, so the the way to fix this is either:
- convert URIs to ordinary paths when sending requests to `merlin`, or
- add support for URIs to `merlin`

As I'm stuck with version 2.5.5 of `merlin` because of an earlier unfixed issue, my only hope is the first option

[2017-10-31 17:15] ccaseiro commented on #51
I have the same problem.

Can reproduce it with only 2 `re` files. It happens with or without `reason.bsb.enabled`.

If I start with:

[code]

[code]

Now, when I rename `function1` to `function2` in both files, the editor marks File B with an error on
[code]
The javascript compilation (`bsb -make-world -w`) in background completes ok and with the function renamed in both `.js` files.
If I `Reload

[2017-10-31 19:01] freebroccolo commented on #53
Thanks for reporting and investigating this. I'm currently working on some URI rewriting functionality as part of the upcoming WSL support. I suppose I could try to fix this issue simultaneously. I'll look into it.

[2017-10-31 19:03] freebroccolo commented on #45
Looks like #53 might be another thing we can fix here.

[2017-10-31 19:48] zploskey commented on #51
I tried reproducing this with @ccaseiro in discord and was unsuccessful. The main difference in our setups is that I am on Linux.

[2017-11-02 09:58] jchavarri commented on #51
This part of the issue reported by @cristianoc sounds to me like some output from `bsb` that the `ocaml-lan-server` parser is not able to process. I can look into this.

The other problem reported by @ccaseiro sounds Merlin related, not `bsb`:

[2017-11-03 08:32] chenglou commented on #17
Done =)

[2017-11-03 08:32] #17 closed

[2017-11-05 01:50] freebroccolo opened #54 "Adjust error messages when merlin isn't found"

[2017-11-06 08:14] jchavarri commented on #52
Maybe we could add

- Call `bsb` from `node_modules/bs-platform/bin` if available

to the scope of this issue. Right now the server just calls `bsb`.

[2017-11-08 18:13] pittsw opened #55 "`yarn install && yarn run compile` does not build project"
I tried running `yarn install && yarn run compile` to build the project, but nothing was built.  `yarn install` installed the packages successfully, but when I ran `yarn run compile` it exited after about 2.5 seconds with exit code 0 and declared success, despite not generating any output folders.  I tried running the `tsc` invocation myself, but that did the same thing (exiting after 2.5 seconds

[2017-11-08 21:09] freebroccolo commented on #55
I'm usually around on the Reason discord server (see the details under "discussion" [here](https://github.com/reasonml-editor/vscode-reasonml#discussion)).

If `yarn run compile` succeeded, you should have a new `./bin` and `./lib` directory in the root. You can run `./bin/server/index.js --stdio` to start the server.

[2017-11-08 22:01] pittsw commented on #55
So this is a little embarrassing: I just started using Atom as my editor, and didn't realize that by default it automatically hides folders in your `.gitignore` from the tree view.  Turns out that nothing is wrong, and the files are getting built properly.

[2017-11-08 22:01] #55 closed

[2017-11-09 03:50] #15 closed

[2017-11-09 08:39] freebroccolo commented on #53
I think this should be fixed now. Let me know if it's still a problem.

[2017-11-09 08:39] #53 closed

[2017-11-09 20:16] freebroccolo opened #56 "Handle formatOnSave without installed binaries gracefully"
If the user has `formatOnSave` enabled and the formatting binaries are not installed, the server will throw an error and exit:

[code]

What we should do is check that the formatter binaries are available when the server initializes. If they aren't found, we should inform the user that they should install them and then disable formatting functionality for the rest of the session.

[2017-11-11 09:13] j-piecuch commented on #36
I no longer experience the issue with `ocaml-language-server` 1.0.8 and `merlin` 3.0.3, thanks for fixing it!

[2017-11-11 10:42] #36 closed

[2017-11-11 22:12] anmonteiro opened #58 "Initialize error on project without version control"
I'm getting the following stacktrace in stderr when opening a file in a workspace that's not VC-backed:

[code]

related to https://github.com/emacs-lsp/lsp-mode/issues/152

[2017-11-11 22:32] freebroccolo commented on #58
This error (`spawn ocamlmerlin ENOENT`) means that when node tried to spawn `ocamlmerlin` as a child process, the binary was not found (e.g., not in your `PATH`).

The reason this is happening may be due to the fact that the `opam` environment has not already been initialized (via `~/.profile`) before the editor is started, or under the environment which it starts `ocaml-language-server`.

If this

[2017-11-11 22:44] anmonteiro commented on #58
I'm quite certain that `ocamlmerlin` is in my path. Within the same editor, I only get this error when my project isn't under version control. I believe @Denommus had the same problem too.

[2017-11-11 22:48] freebroccolo commented on #58
There's no logic in the language server itself that would cause it to behave differently whether or not it is launched a project directory with version control. So that part of it would have to be something specific to emacs or `lsp-mode`. Maybe projectile has an effect on this somehow?

The only thing I know for sure is that that error is caused by `spawn` not being able to find the `ocamlmerlin`

[2017-11-11 22:50] anmonteiro commented on #58
I see. I'm starting emacs normally through the UI but I have `exec-path-from-shell`

[2017-11-11 22:56] freebroccolo commented on #58
Yeah, that may not be enough. Under Linux, if I launch VS Code through the UI I have the same problem. But if I start it via `code` from the terminal, it works. The problem is due to when then `opam` environment is actually initialized and unfortunately this is beyond the control of the language server.

[2017-11-11 23:02] freebroccolo commented on #58
To add some further context, it is possible to get `spawn` to run a command in a shell on the server side, but there's no option to run it in a login shell specifically (so the `opam` init stuff usually won't happen). Using `exec` works for this, but unfortunately that causes communication with `ocamlmerlin` to fail due to the buffering.

[2017-11-12 01:29] freebroccolo commented on #58
Also see [this comment](https://github.com/ocaml/opam/blob/master/src/core/opamStd.ml#L725-L729). What is probably the right thing to do here is for opam to start modifying `~/.bashrc` instead of `~/.profile`.

[2017-11-12 11:00] freebroccolo commented on #58
I've made some changes which should hopefully fix the error if it's related to the login shell issue. I'll go ahead and close this. Let me know if it's still a problem.

[2017-11-12 19:53] anmonteiro commented on #58
I didn't have time to investigate your other suggestions but I wanted to report that I'm still seeing this issue on 1.0.11.

[2017-11-12 21:53] freebroccolo commented on #58
Can you give me more information about your development environment?

- what OS?
- what is the default user shell?
- where is opam initialized? (e.g., `~/.profile`, `~/.bashrc`, etc.)
- does it make a difference whether you launch the editor from the terminal?

[2017-11-12 22:20] anmonteiro commented on #58
macOS 10.13.1

ZSH

`~/.zshrc`

`/Users/anmonteiro/.opam/4.05.0/bin/ocamlmerlin`

No.

[2017-11-12 22:34] freebroccolo commented on #58
Weird. I really don't know why node spawn would be failing to find `ocamlmerlin` in that case.

If it indeed only happens when there's no version control, there has to be something else interfering with the environment because it just doesn't make sense why that would even matter.

Is it possible you have some custom configuration or plugin for zsh that could be modifying the environment in some w

[2017-11-12 22:41] anmonteiro commented on #58
So, here's something even more weird.
The stderr process now has the following stacktrace:

[code]

[2017-11-12 22:45] freebroccolo commented on #58
I see… so it looks when node tries to spawn`/bin/zsh -lc "ocamlmerlin"` even the `/bin/zsh` part is failing. I'm not sure how that's even possible.

[2017-11-12 23:20] freebroccolo opened #59 "Account for merlin "verbosity" functionality"
Some merlin queries will return more information if they are called in succession. Right now, we do not account for this at all, which is probably part of the reason why results with the ocaml language server sometimes appear different from the emacs mode.

Handling the "verbosity" functionality properly will require some refactoring of the merlin task queue because we will need to make sure that

[2017-11-12 23:27] freebroccolo commented on #59
A better long term solution would be to modify merlin to allow specifying the verbosity in the query. It looks like that was planned at one point but doesn't appear to be in the latest version of the protocol.

In the meantime we need to figure out which queries are affected by this which will probably require digging through the merlin source.

[2017-11-13 16:59] arxanas commented on #59
This might be related: I think in the majority of cases we shouldn't be reordering the tasks in the queue (which is to say that I think the priority values for most tasks should be revisited). None of the LSP requests can be serviced without sending a response, which imposes a strict ordering on which order we should be servicing requests. The only things that you would want to reorder are the not

[2017-11-13 18:16] freebroccolo commented on #59
The original reason I switched to a priority queue is because it was necessary to be able to de-prioritize certain queries so that the editor would stay responsive. In particular, the outline functionality and the codelens functionality result in a ton of queries in rapid succession.

As far as I remember, the only real reordering that happens is that those queries are given lowest priority and al

[2017-11-13 21:17] freebroccolo opened #60 "Improve handling of external processes"
- [ ] #9
- [ ] #19
- [ ] #20
- [ ] #21

[2017-11-13 22:40] arxanas commented on #59
Ah, I interpreted that part of the LSP differently. I've opened a pull request on the LSP to clarify that reordering is allowed to some degree.

[2017-11-13 23:45] freebroccolo commented on #34
What is the current status of this issue?

[2017-11-13 23:46] chenglou commented on #34
This is solved on bsb's super-error side now. Just needs this bsb integration to grep for `(No file name)` I think

[2017-11-14 01:00] #54 closed

[2017-11-14 02:16] freebroccolo commented on #37
[code]

@anmonteiro I just tried using `lsp-ocaml` with the repository your suggested and am able to reproduce this issue. However, I think it may be a problem with the requests that `lsp-mode` is sending to the server.

If you look at [textDocument/references](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_references) in the LSP protocol, you see that t

[2017-11-14 02:22] freebroccolo commented on #58
I just tested and am able to reproduce this on my macOS system:

[code]

I don't know what is causing this but it has to be something specifically with the Emacs LSP setup because it is the only time I have seen the spawn call fail this way.

[2017-11-19 15:29] jchavarri commented on #34
@chenglou your fix upstream was enough to fix bsb, as the lang server parser blindly parses and exposes the error now :v:

![image](https://user-images.githubusercontent.com/220424/32992104-d7ec3892-cd46-11e7-804e-8b5bb81ce23d.png)

Closing!

[2017-11-19 15:29] #34 closed

[2017-11-20 08:12] freebroccolo opened #63 "Cache certain merlin query responses"
Certain queries are made repeatedly during the course of normal project navigation even though the responses will be the same as long as no edits have been made. This doesn't really have a noticeable performance impact for smaller projects but for larger projects it could start to add up. We should investigate some sort of caching strategy here. Even just being able to avoid the cost of repeatedly

[2017-11-20 15:36] jacobbubu opened #64 "FileNotFoundError for 'ocaml-language-server' in sublime text"
I'm using [LSP](https://github.com/tomv564/LSP) in sublime and install `ocaml-language-server` globally with `npm install -g ocaml-language-server`. I've always got the following error in sublime console:

[code]

[2017-11-20 23:05] freebroccolo commented on #64
Thanks for reporting this. From that error message it doesn't appear to be an issue with the language server itself but rather some problem with the Sublime client not being able to find the binary. Can you try opening an issue about this in the repo for the client?

By the way, how do you have your development environment set up? Are you using `nvm` or something like that?

[2017-11-21 02:17] jacobbubu commented on #64
Yes, I'm using nvm for my node installation and the global npm binary folder is `/Users/rongshen/.nvm/versions/node/v8.9.1/bin/ocaml-language-server`.

[2017-11-21 02:36] freebroccolo commented on #64
I've seen several people have problems using various editor tooling (not just this language server) with `nvm` and similar systems.

I suspect what is happening in your case is that your PATH is not being configured properly to account for the correct nvm path when the plugin tries to start `ocaml-language-server`.

Unfortunately there are any number of reasons why this might be happening. It coul

[2017-11-21 02:58] jacobbubu commented on #64
Thanks for your suggestion, I'll try to figure it out in LSP or Sublime client.

[2017-11-21 04:22] #64 closed

[2017-11-21 20:47] rymdhund opened #66 "Crash on didChangeConfiguration with empty settings"
The latest nvim language client is sending a 'workspace/didChangeConfiguration' with the settings parameter set to {}. This causes the server to crash:

[code]

See this issue for more details: https://github.com/autozimu/LanguageClient-neovim/issues/183

[2017-11-21 20:50] DeltaEvo opened #67 "Cannot read property 'diagnostics' of undefined with empty config"
[code]
When LanguageClient-neovim send an empty json as config
Related https://github.com/autozimu/LanguageClient-neovim/issues/183

[2017-11-21 20:51] DeltaEvo commented on #67
I have been too slow ... so it's a duplicate of #66

[2017-11-21 20:54] #67 closed

[2017-11-22 08:18] jordwalke opened #69 "Support multiple workspace roots."
LSP has [recently added the ability to support multiple workspace roots](https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs) within a single instance of VSCode (for example). We should make `ocaml-language-server` support this feature, and therefore provide proper support of project isolation within a single instance of `ocaml-language-server`/VSCode.

[2017-11-22 15:45] rseymour commented on #66
I had the same bug as well on mac.

[2017-11-29 01:09] freebroccolo opened #72 "Support cancellation of custom requests"
I would like to make the token argument to the merlin `query` method non-nullable. Currently we can't do this because we don't have any tokens to thread into the task queue for merlin queries generated by custom LSP requests.

[2017-11-29 04:17] freebroccolo commented on #59
Just as a status update on this, I think I'm going to postpone investigating further until the native rewrite begins. I had a brief discussion recently with @let-def on discord about a native implementation of the server and it sounds like we might be able to build our own interface around a functorized merlin (with some care). If we did that, I believe this issue would probably become irrelevant

[2017-11-29 07:18] arxanas commented on #72
One thing I considered while looking into cancellation tokens was to just make a dummy cancellation tokens for requests that can't be cancelled and pass it in.

[2017-11-29 17:15] pittsw opened #73 "Project fails to build: "Property 'restart' does not exist on type 'Merlin'.""
Looks like https://github.com/freebroccolo/ocaml-language-server/commit/afdd40b65e64cbb1de443a0e808db92ce47d877f has caused a build break, since `merlin.ts` doesn't contain a `restart()` function.

[code]

[2017-11-29 23:06] pittsw commented on #73
Thanks!

[2017-12-01 03:15] abs-zero commented on #66
I have the same problem in neovim in linux. Any workaround for this?

[2017-12-01 03:32] #66 closed

[2017-12-01 03:32] freebroccolo commented on #66
I just uploaded a new release (`1.0.15`) which should fix this issue.

[2017-12-02 00:21] freebroccolo opened #75 "Process merlin sub-errors"
In the merlin error responses there is a `sub` field mentioned [here](https://github.com/ocaml/merlin/blob/master/doc/dev/PROTOCOL.md#errors). Currently we just ignore this.

Unfortunately, the LSP diagnostics don't support a notion of nesting so if we wanted to use sub errors (are there good examples of these somewhere?) we would need to do some sort of flattening first. Also see [here](https://g

[2017-12-02 03:38] arxanas commented on #75
Also see the "related locations" proposal for the LSP at https://github.com/Microsoft/language-server-protocol/issues/260. I think @ljw would like to push forward with that in Nuclide at some point in the future.

[2017-12-03 18:13] jchavarri opened #76 "ocamlmerlin Sys_error("Broken pipe") errors on fresh projects"
Not sure if it's related to the recent changes An error `ocamlmerlin error: Fatal error: exception Sys_error("Broken pipe")` appears every time I save a file.

I also noticed there's the blue loading indicator on the left panel continuously active (visible on the gif below as well).

There's been other reports on Discord:

It might not be the case, but all these seem related.

![ocamlmerlin](https

[2017-12-03 19:11] freebroccolo commented on #76
Can you try installing the previous version of the extension and see if it shows the same behavior?

Also can you try ensuring that the HTML tab in your example is closed and see if it still happens when you save an OCaml or Reason file?

How many merlin files do you have in the project source tree?

It might have something to do with the new merlin auto-restart feature but I’m not sure.

[2017-12-03 20:43] bsansouci opened #77 "Renaming will silently fail when program subtly doesn't typecheck"
We've have this function:
[code]

When trying to rename it to something else, the recursive call does not get renamed. This seems a bit bad because it destroys the trust I'd put in renaming tools. This kind of stuff would cause some very-hard to find bugs.

I'm guessing the reason is that the type checker doesn't know that that call is the same as the one being renamed.

[2017-12-03 20:58] jchavarri commented on #76
Thanks @freebroccolo, the latest version 1.0.16 with the auto-restart feature disabled fixed it.

I'm pretty sure it happened with the HTML tab closed as well. Will try to go back and repro (having problems running the project in a dev environment after the latest changes).

You mean `.merlin`? Just this:

[code]

[2017-12-03 21:41] jchavarri commented on #76
@freebroccolo  I can confirm the html file has no effect in the error.

There's something I find strange in `restartMerlin`. If I add a log next to [`await session.merlin.restart();`](https://github.com/jchavarri/ocaml-language-server/blob/master/src/bin/server/command/restartMerlin.ts#L5) it seems to be called roughly twice per second, without saving the file or actually doing anything, just open

[2017-12-03 21:52] jchavarri commented on #76
Removing `bsb` stops the race condition, so I guess it's like you said in Discord: `bsb` updates `.merlin` and then it modifies the file, which makes `bsb` re-run again, etc, etc.

[2017-12-03 22:29] jchavarri commented on #76
More findings. It seems the conflictive `.merlin` file is not the one in the project root, but the one found in `node_modules/reason-react`, this is the path as seen in `didChangeWatchedFiles`:
[code]

Maybe we could avoid the problem by only restarting merlin if the file is not in `node_modules`?

[2017-12-03 22:32] freebroccolo commented on #77
The renaming functionality in the server is currently driven by the responses merlin gives to the [occurrences](https://github.com/ocaml/merlin/blob/master/doc/dev/PROTOCOL.md#occurrences--identifier-at-position) query so this is something that would need to be addressed upstream. cc @let-def

Can you open an issue about it in the merlin repo?

[2017-12-03 22:38] freebroccolo commented on #76
Thanks for investigating this.

Okay, so it sounds like one thing we need to do is when refreshing with the analyzer after a `.merlin` change, make sure not to call `bsb` again in `refreshWithKind`. This will require some refactoring.

I'm not sure if it would solve the problem entirely but it's certainly a good idea and we should do that.

[2017-12-03 23:27] jchavarri commented on #76
I think there might be a simpler solution: don't call `analyzer.refreshImmediate` if  `diagnostics.tools` includes `bsb`. In that case, merlin will re-analyze as soon as the user edits some file, `refreshImmediate` will run `bsb` after `.merlin` file is saved, like with any other file.

I will open a PR.

[2017-12-03 23:42] freebroccolo commented on #76
OK, that sounds like a simpler solution. I'll go ahead and merge it and close this.

[2017-12-03 23:42] #76 closed

[2017-12-10 05:11] freebroccolo opened #80 "Refactor merlin functionality"
Most of this stuff is in a private branch not yet on `master`.

- [x] provide pre/post-processing hooks for WSL, etc.
- [x] provide a way to deal with response "verbosity" feature
- [x] centralize handling of request failure states
- [x] automatically restart process when appropriate (e.g., edits to `.merlin`)
- [x] support request/response tracing
- [x] make merlin fully optional
- [x] report res

[2017-12-10 08:23] jordwalke commented on #80
Can you share/describe what you have for `WSL`? I want to make sure that what we're doing is not going to conflict with it.

[2017-12-10 20:22] freebroccolo commented on #80
When you say "what we're doing" are you referring to nuclide or something in the reason tooling?

Right now there are two parts to it.

The first is the path translation functionality which is already partly included in `master` (see [here](https://github.com/freebroccolo/ocaml-language-server/blob/master/src/lib/virtual/resource.ts)).

The other part to it is that I have added a mechanism to allo

[2017-12-11 00:45] jordwalke commented on #80
I was referring to the `esy-ocaml` support that we're building in `esy`. The diff I landed in `ocaml-language-server` already has the hook in place. What it will enable is making it so no one has to configure the language server to run `bash.exe ocamlmerlin` instead of the defaults. (it does some other stuff too).

Sounds like everything you're planning on will compliment it nicely.

By the way, h

[2017-12-11 01:01] freebroccolo commented on #80
Okay, I see what you mean. Yeah, that should be orthogonal the changes referenced in this thread, but also necessary to get things working nicely for WSL. I did have plans for similar functionality to be incorporated directly into the server but it's not in place yet. In any case, whatever happens there I'll make sure it remains compatible with the `esy` support.

I hadn't seen that but it does ap

[2017-12-11 01:10] jordwalke commented on #80
It's only available in the most recent release of WSL, so I'm not sure if that's good enough (it will be eventually of course).

[2017-12-11 01:23] freebroccolo commented on #80
Yeah, I just noticed that too. It sounds like WSL builds are tied to OS builds so I think it may only currently be available to people using the pre-release update channel. I'll probably have to keep using the ad-hoc implementation for now but eventually I'd like to switch over to `wslpath` once it's widely available.

[2017-12-12 08:36] jordwalke opened #81 "Implement File System Watching Registration."
`ocaml-language-server` currently responds correctly to changed files, but I believe we are missing one hook to actually register the globs that we care about with the client. The client then would normally take this registration, set up its own watcher, and then call our (already implemented hook) for responding to watched file changes.

[Here's the node lsp server implementation](https://github.

[2017-12-12 09:28] freebroccolo commented on #81
I'll have to take a look at the protocol and the code but I was under the impression that you may not be able to register globs dynamically after the server has initialized. The glob are intended to be sent as part of the initialization parameters, so currently these globs are specified in the `vscode-reasonml` extension.

What I've been thinking about doing is just moving the file watching logic

[2017-12-12 21:45] ljw1004 commented on #81
I think that LSP was changed some time since April to allow dynamic registration for what files should be watched: https://github.com/Microsoft/language-server-protocol/issues/212

I'm currently in a company with server-side watching via [Watchman](https://facebook.github.io/watchman/) and my experience is:

* Our LSP integration tests rarely work. That's because the typical test setup is (1) crea

[2017-12-12 22:43] freebroccolo commented on #81
@ljw1004 Thanks, I wasn't aware of the dynamic registration support.

Also good to know about the issues with file watching.

The integration test issue seems like it's something that could potentially be solved via some sort of brief synchronization round with the LSP, but it would be annoying to do that. Sadly we don't even have any integration tests at this point though, although I would really

[2017-12-13 04:26] ljw1004 commented on #81
From what I've heard, watching <50 files per project is straightforward, but OSs usually don't let you watch above 1k or 10k files, so in those cases you need to do something complicated. -- If this were me, I'd be strongly tempted to just wash my hands and leave the maintenance burden to the editors...

For the testing side, I kind of gave up: I deleted the integration tests that exercised the "r

[2017-12-13 10:40] jchavarri opened #82 "Disable bsb diagnostics if bsconfig.json is not found"
Not sure how this should be implemented, we need to prob pass some data from the client to the server.

The idea is to only enable `bsb` if:
- `reason.diagnostics.tools` contains `bsb`
_and_
- `bsconfig.json` exists

cc @chenglou

[2017-12-14 00:50] freebroccolo commented on #82
This will need to be done during the environment detection on initialization. I'm planning to tackle this more generally with the other tooling around the same time multi-root is implemented (otherwise it will just need to be refactored). Should happen after the merlin refactor and WSL support land. Related #60, #69.

[2017-12-17 22:49] jchavarri commented on #51
I was looking to update the `bsb` parser in order to fix this, but it's hard because the error explanation that `bsb` outputs can literally be any string of any number of lines, and right now there's no characters delimiting it.

@chenglou Is there anything that can be done on the `bsb` side to separate the context (that includes the line numbers like `2 | someCode`) and the error itself?

[code]

[2017-12-18 00:28] freebroccolo commented on #51
If the error context always consists of lines like that couldn't you match all the lines at once with `/^\d+\s+\|\s+.*$/gm` and then advance the parser to the error message based on the result?

In case it's not so straightforward, I'll just add that I've been planning to rewrite the bsb output parser (and the ocamldoc parser) using [chevrotain](https://github.com/SAP/chevrotain) very soon and may

[2017-12-19 19:58] freebroccolo commented on #77
Closing this since I've created the relevant issue upstream.

[2017-12-19 19:58] #77 closed

[2018-01-05 11:57] jchavarri opened #83 ""Unused bucklescript attribute" error not parsed"
Another case where the `bsb` regexps don't work:

[code]

`bsb` output in console:
[code]

@freebroccolo @chenglou @bobzhang not sure about the best way to fix these. Should we:

- keep trying to add more regexps to the existing `bsb` parser?
- use chevrotain like @freebroccolo suggested in https://github.com/freebroccolo/ocaml-language-server/issues/51#issuecomment-352298650?
- uniforming the out

[2018-01-06 07:31] freebroccolo commented on #83
In the short term the easiest solution is going to be to adjust the regexps in the `bsb` parser.

In the long term I think rewriting the parsers with chevrotain or something similar is going to be necessary just to keep the server maintainable. However, the native rewrite of the server itself might happen before then, in which case we'd want to use Menhir.

I don't have much to say about upstream

[2018-01-08 19:05] Schmavery opened #84 "Non-WSL windows support"
@bsansouci and I have been discussing how to get a user-friendly native ocaml workflow working on windows without depending on WSL. Currently this is the plan:

1) Get all relevant dependencies running on windows. We currently ship these all as part of bsb-native, and they install and work in cmd.exe with 1 `npm install` command:
- [x] ocamlc/ocamlopt etc (along with associated mingw dependencies,

[2018-01-08 20:23] freebroccolo commented on #84
I agree that native Windows support would be nice. If the tooling is easy enough to install and configure on native then I think we can get the server to work with that.

The main thing to figure out is what you mention in item (2). Specifically, we need to agree on how to detect native tooling and in what fashion that should be configurable.

There are now a number of different scenarios for how

[2018-01-08 20:48] bsansouci commented on #84
Wow thanks for putting this table together.

Dumb questions:
- how does the Esy support work? Any way bsb-native can leverage what's done here
- does opam 1/2 support different from "server env in PATH" ? I was under the impression that if merlin was installed through opam it was available globally

What binaries does ocaml-language-server need to know about?

Would it be possible to either
1) mak

[2018-01-08 22:14] freebroccolo commented on #84
Have to ask @jordwalke about that one.

The situation with opam is a little complicated. If you have the opam environment initialized in your shell via `.bashrc`, `.profile`, `.zshrc`, etc., then it behaves as in the "server env PATH" case.

The problem is that this is not very reliable. There are differences in when exactly these shell scripts are run that differ between platforms and also whethe

[2018-01-09 04:02] jordwalke opened #85 "Custom error message when ocamlmerlin cannot be found in esy project."
I think we could provide a dedicated error message when ocamlmerlin cannot be found because you haven't installed/built your project yet. Perhaps something like: "you have an esy project, but ocamlmerlin cannot be found. Did you build the project yet? Did you remember to include merlin as a devDependency?"

I wonder if this would translate to all editors, or if it should only be in the VSCode proj

[2018-01-11 02:31] freebroccolo commented on #84
Status update: I've started working on getting support for this implemented. It may not make it into the next official release but I will probably make a beta version of the server and vscode extension available so that we can experiment with it and see how it works out.

[2018-01-11 04:01] freebroccolo commented on #83
@jchavarri do you think it is okay to just go with some additional regexps here for the time being? We could revisit this more thoroughly after some of the bigger upcoming changes land in the master branch.

[2018-01-11 10:00] jchavarri commented on #83
@freebroccolo 👍  totally. I think I'll do this one and #51 in one PR. I was trying to fix #51 upstream in https://github.com/BuckleScript/bucklescript/pull/2421 but i couldn't find a way.

Also, I've been thinking about it and i'd like to take this opportunity and add some tests for this parser as well, so we can add cases like this. What I thought was going to be a temporary hack to parse `bsb` o

[2018-01-11 10:03] jchavarri commented on #83
I meant having `bsb` run in a process like Merlin does. I remember @chenglou mentioning at some point that this "process-based `bsb`" could be a thing, although the current approach of just calling it every time works fine too, and its simplicity is also something to take into account.

[2018-01-13 00:03] freebroccolo commented on #85
This is a good idea. I think we can do this on the server without requiring any special support from the client. From the client perspective it will look like just another notification from the language server (separate from the diagnostics). As long as the client supports that part of the spec it should integrate as expected.

As for how to structure this kind of feature in the code base: there i

[2018-01-14 23:59] jchavarri opened #87 "Compilation error in vscode-reasonml"
Not sure exactly why, and this is something that will be caught before publishing, but just in case [this line](https://github.com/reasonml-editor/vscode-reasonml/blob/master/src/client/lifecycle/onWillSaveTextDocument.ts#L15) in `vscode-reasonml` seems to break with some recent change in `/lib/remote` in the lang server.

[2018-01-15 00:00] jchavarri commented on #87
The error is in `remote.server.giveFormatted` passed as param to `languageClient.sendRequest`:

[code]

[2018-01-15 00:02] jchavarri commented on #87
Using `TextDocumentIdentifier` instead of `TextDocumentItem` in the signature of `giveFormatted` seems to fix it. I'm not very familiar with these types.

[2018-01-15 00:18] jchavarri opened #88 "Why is reason.formatOnSave needed if there is editor.formatOnSave?"
Some users asked in Discord as format on save was not working, and adding `editor.formatOnSave: "true"` seemed to fix the issue.

I've noticed that `refmt` [is called](https://github.com/freebroccolo/ocaml-language-server/blob/master/src/bin/server/feature/documentFormatting.ts#L18) when `documentFormatting` event happens. This event is linked to `editor.formatOnSave` and seems to be independent f

[2018-01-15 01:05] freebroccolo commented on #87
This is probably due to some recent refactoring in the server for which I haven't pushed the corresponding changes to the extension repo yet. Sorry, I'll get this sorted out a little later today.

[2018-01-15 01:13] freebroccolo commented on #88
I think this is a bug -- something that got missed during a refactoring. The extension shouldn't need to be using a custom request in the save hook anymore. I'll check it out but I think we can probably remove `onWillSaveTextDocument` entirely at this point.

[2018-01-15 10:15] jchavarri commented on #88
I went ahead and did that as I had been looking at that code and it was fresh enough :) please let me know if there's anything that should change, thanks!

[2018-01-15 10:50] #87 closed

[2018-01-15 10:50] #88 closed

[2018-01-16 04:46] #51 closed

[2018-01-16 04:46] #83 closed

[2018-02-10 05:04] #80 closed

[2018-02-10 05:04] #45 closed

[2018-02-12 01:11] freebroccolo opened #94 "Fix renaming for symbols with primes"

[2018-02-18 14:03] stevenremot opened #96 "The server cannot initialize when "initializationOptions" is set to null"
I recently installed the [lsp-ocaml](https://github.com/emacs-lsp/lsp-ocaml) emacs package and ocaml-language-server, and I got this error when running `lsp-ocaml-enable` to start the client:

[code]

I investigated a bit, it looks like when lsp-ocaml sends the "initialize" request, the field `initializationOptions` is set to `null`, which sets `settings.reason` to null in the server.

I wasn't re

[2018-02-24 03:32] zploskey commented on #96
I think I am getting the same error using LanguageClient-neovim. When I open a reason file it displays
[code]
on a line at the bottom of the window.

[2018-02-24 05:04] freebroccolo commented on #96
Thanks for the report. I'm assuming you are testing with `1.0.26`. Can one of you check if this also happens with version `1.0.23`?

[2018-02-24 05:09] freebroccolo commented on #96
I suspect this may be due to changes from #95. cc @pittsw

[2018-02-24 05:15] zploskey commented on #96
I do no not see the error on 1.0.23. I see an error on 1.0.26.

[2018-02-24 06:14] #96 closed

[2018-02-24 06:16] freebroccolo commented on #96
Can one of you try with the `1.0.27` version I just published?

[2018-02-24 09:48] stevenremot commented on #96
I confirm it solved the problem for me too, thanks!

[2018-03-04 09:59] jchavarri opened #97 "Call `showWarningMessage` when refmt fails"
There are a few cases where it would be good to show errors from refmt:

1. For projects that are not using `bsb`
2. For times where the `bsb` parser version doesn't coincide with the installed `refmt` version

I've run into problems due to 2 and it's very confusing, as the auto-formatting suddenly breaks with no information. I had to check from the command line to see what was going on. This is a

[2018-03-04 10:56] jordwalke commented on #97
This is also pretty helpful from the Atom->ocaml-language-server use case which doesn't have any error feedback when trying to reformat an invalidly written file.
I don't know what the experience in VSCode is like, but in Atom, if you have a syntax error, it's lost in a sea of other potential errors in the Diagnostics panel - so when you hit the key command to reformat and it doesn't tell you that

[2018-03-04 13:01] jchavarri commented on #97
@jordwalke The fix in #99 should help alleviate that pain. When refmt finds an error, it [sends just that one](https://github.com/freebroccolo/ocaml-language-server/pull/99/files#diff-654fa3a98c26f25b183b0d7960e43acdR67) as `diagnostics` of that file, which would "clean" the Diagnostic panel from every other diagnostics from other tools, and allow the user to focus just on that particular one.

[2018-03-04 19:05] #97 closed

[2018-03-05 15:39] clouds56 opened #100 "didChangeConfiguration would not restart ocamlmerlin-server if path changed"
See here https://github.com/reasonml-editor/atom-ide-reason/pull/16.
We updated settings (mainly config.path.ocamlmerlin and other paths of tools), and it would not trigger ocamlmerlin-server to restart.

[2018-03-06 06:41] #100 closed

[2018-03-08 01:24] alexfedoseev commented on #76
@freebroccolo @jchavarri FYI I see this error quite often in Atom. Things get worser due to Atom’s language client has limit of server restarts (5 times per 3 minutes max). And I often reach this limit so I need to reload the whole thing to get my toolchain back.

[2018-03-08 09:53] jchavarri commented on #76
@alexfedoseev What config do you have in `diagnostics.tools`? Could you confirm if it happens with both `['bsb', 'merlin']` and also just `['merlin']` only?

[2018-03-08 16:16] alexfedoseev commented on #76
@jchavarri It’s `bsb` only. I’ll check other two cases tomorrow 👍

[2018-03-09 04:24] alexfedoseev commented on #76
@jchavarri @freebroccolo

Happens with `['bsb', 'merlin']`.
It seems w/ `['merlin']` only it doesn't happen (or happens not that often so I can't reproduce it quick).

Also, I see this in console (https://cl.ly/q3Yx) in all cases (even w/ `['merlin']` only).

BTW `merlin` errors are reported w/ `info` label in Atom b/c `bs` errors are reported w/ `severity: 1` and `merlin` errors doesn't have this

[2018-03-12 00:07] jchavarri commented on #76
@alexfedoseev It could be the same problem that caused this PR was trying to solve.

It would be great if you could get some logs of what messages are sent / received just before and after the broken pipe error, and also adding the timestamps in the console. Trying to understand what's going on (i haven't been able to setup Atom in debug mode)

![image](https://user-images.githubusercontent.com/22

[2018-03-12 02:32] alexfedoseev commented on #76
@jchavarri Sure, here's the log: [atom-reason-broken-pipe.log](https://github.com/freebroccolo/ocaml-language-server/files/1801221/atom-reason-broken-pipe.log)

During this log session error popped up 2 times:

1. after I saved on `2018-03-12 10:19:15.911`
2. after I saved on `2018-03-12 10:19:30.967`

[2018-03-19 18:39] jchavarri opened #105 "Refmt failing due to invisible characters at the end of the input text"
Two users (@thangngoc89 and @codekiln) have reported issues with `refmt` in Discord. In both cases, refmt fails at the last character of the last line. One in Linux, another in macOS.

While debugging remotely with @thangngoc89 (I can't repro), we realized there was a trailing character (double quotes, in particular) that gets appended to the text coming from `doc.getText()` here:

https://github.

[2018-03-19 21:44] freebroccolo commented on #105
Do you mean that `doc.getText()` already contains this extra `"`? Or do you mean that this part is correct but what shows up in the buffer contains the extra `"`? Was there already a `"` at the end of the document that got duplicated or did this character just show up out of nowhere?

It's possible there is a bug in the document synchronization code or in the code that handles the edits for reform

[2018-03-19 22:36] jchavarri opened #106 "Consolidate diagnostics handling"
As mentioned in https://github.com/freebroccolo/ocaml-language-server/pull/103, right now there is a `diagnostics` array for each of the processes that run. This is not very friendly from a user perspective, as each process deletes the errors shown by the other.

And from a developer perspective, it makes the whole diagnostics handling hard to maintain as each process has to keep updating its stat

[2018-03-20 00:36] jchavarri commented on #105
As far as I understood (maybe @thangngoc89 can confirm), the value returned by `doc.getText()` contains an extra `"`. We don't know where this character comes from, as it doesn't appear on the editor. And the file does not contain it (as `refmt` works from the command line in that same file).

The synchronization bug is a good hint, I hadn't thought about that.

[2018-03-20 11:08] thangngoc89 commented on #105
The double quote comes from doc.getText() . And I have no ideas why is it there in the first place

[2018-03-20 11:22] jchavarri commented on #105
@thangngoc89 Whenever you have time and can repro, could you please check the value of `result.getText()` at this point of the execution? (just after `result` gets assigned a value)

https://github.com/freebroccolo/ocaml-language-server/blob/59e1f299cd72a544853adbeebea73e8f15763e88/src/bin/server/feature/documentFormatting.ts#L9

That happens before the other place in `command/getFormatted.ts` I b

[2018-03-26 21:55] jordwalke opened #110 "use `MarkupContent` feature for autocomplete"
We noticed that autocomplete information isn't rendered as markdown, but LSP added a new MarkupContent feature which we can return from LSP to get it to be rendered as markdown (similar to hover).

<img width="906" alt="screen shot 2018-03-26 at 2 52 39 pm" src="https://user-images.githubusercontent.com/977348/37935227-93516e50-3105-11e8-8365-46977dce21eb.png">

[2018-03-26 21:59] jordwalke opened #111 "Suggestions about doc comments for Reason."
HI @freebroccolo. What is your suggestion for how we should handle doc comments in Reason? We would like to use markdown, but there are a couple of issues:

1. I believe that the language server has at least some assumption that the comment content is ocamldoc.
2. Even if everything was assumed to be markdown, our parsed comments include the leading stars which are rendered as bullet point items.

[2018-03-27 01:43] freebroccolo commented on #111
Hmm, good question.

Probably the ideal situation would be if we could detect where the doc comment originates from (say when it is obtained via merlin). That way we could just switch to the appropriate parsing method (ocamldoc or markdown). I'm not sure if it's possible to retain this information (easily anyway) given how compilation works.

Aside from that, I think the first option would probabl

[2018-03-27 17:57] kyldvs commented on #110
This would be awesome to fix!

[2018-03-28 14:01] ahmedelgabri opened #112 "version 1.0.31 breaks integration with LanguageClient-neovim"
I use https://github.com/autozimu/LanguageClient-neovim + `ocaml-language-server` & after today's update, the autocompletion doesn't work anymore. Installing the previous version works perfectly with `LanguageClient-neovim` though.

[2018-03-28 22:04] freebroccolo commented on #112
Should be fixed in `1.0.32`.

[2018-03-28 22:04] #112 closed

[2018-04-09 17:32] jchavarri commented on #105
Other refmt-like extensions are also having issues, in this case the cursor moves at the end of the file. Might be related:

https://github.com/prettier/prettier-vscode/issues/409
https://github.com/Microsoft/vscode/issues/47382

[2018-04-21 14:13] jchavarri opened #114 "bsb parser failing to parse error"
Not sure if it has to do with the grave accent that appears after `Error:`.

I'm thinking to actually add a new regexp / case that checks for the line at the end `ninja: error: rebuilding...etc` as a fallback, to at least show _something_ to users, in case nothing was detected previously with the more sophisticated regexps. Right now it's super confusing as it takes some time to realize the js fil

[2018-04-25 20:29] dvisztempacct opened #115 "Configurable refmt binary?"
Hi and thanks for OLS!

Skimming through the code quickly, it looks like the command implementing the formatting functionality is configurable. Am I right?

How can I configure OCS?

I'm using OCS via [neovim-languageclient](https://github.com/autozimu/LanguageClient-neovim)

Thanks!

[2018-04-27 21:44] ggilmore opened #116 "language server should be able to fufill requests even without textdocument/didOpen Notifications"
The [LSP Spec says the following](https://microsoft.github.io/language-server-protocol/specification#textDocument_didOpen):

For example, I see no hover when I hover over any token in this file: https://github.com/lpil/exercism/blob/HEAD/ocaml/hello-world/hello_world.ml, unless I manually make my client send this `didOpen` notification with the file contents. The spec says that language servers sh

[2018-04-27 22:41] freebroccolo commented on #116
Thanks for drawing attention to this. I looked at the part of the spec you refer to but I think it's actually unclear what the behavior should be here. The spec says that the ability to fulfill requests is independent of whether a document is open. It's not clear whether that actually means that *all functionality* should be available or if they are just referring to the server being available for

[2018-05-02 08:51] jchavarri commented on #21
@freebroccolo Why is this the case? Shouldn't the server try to restart `ocamlmerlin`?

A very common case I often run into is that I type the ñ key (Spanish keyboard, happens very often [due to where that key is located](https://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/M/LA/MLA22Y/MLA22Y?wid=1144&hei=1144&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=149

[2018-05-02 12:59] frank-emrich opened #117 "How to provide "User Configuration""
Hi, I would like to set a custom path to my ocaml executables, like ocamlfind and ocamlmerlin. I see the following error message produced in the code:
Double check your path or try configuring "reason.path.ocamlmerlin" under "User Settings"

How do I set those "User Settings"? I guess I have to put a .json file somewhere? I see that
src/lib/index.ts defines an interface for those settings, but I c

[2018-05-10 08:01] dvisztempacct opened #119 "definition misses locals"
Hi, and thanks for OLS!

I'm using neovim and languageclient-neovim and when I call `LanguageClient_textDocument_definition()` on a local variable, it looks like OLS misses local variables.

I've created a minimal test case:

https://github.com/dvisztempacct/ols-bug-definition-misses-locals

Open `src/Demo.re` and place your cursor on either `foo` or `n` on line 7 and ask OLS to show you its defin

[2018-05-15 07:35] tomsdev opened #121 "giveCaseAnalysis raise exceptions when used from VSCode ReasonML extension"
This issue was originally raised in the vscode-reasonml repository: https://github.com/reasonml-editor/vscode-reasonml/issues/202

However after digging into the extension code [here](https://github.com/reasonml-editor/vscode-reasonml/blob/master/src/client/command/doSplitCases.ts), I can see that the exceptions come from the call to remote.server.giveCaseAnalysis which is implemented in this repo

[2018-05-16 08:11] mickaelistria opened #122 "`Cannot find merlin binary at "ocamlmerlin"` while ocamlmerlin is in PATH"
I'm trying to create a Docker image that runs this language server. Here is the Dockerfile

[code]

You can see merlin installed (line 3) and added to PATH (line 5).
Running this image (previously built locally as `caml-language-server`) with `docker run -i caml-language-server which ocamlmerlin` returns the expected and resolved path `/root/.opam/default/bin/ocamlmerlin` and similarly, running `d

[2018-05-23 17:22] pakoito commented on #50
:necro: it would be nice indeed :D

[2018-05-24 13:05] mickaelistria commented on #58
I'm working on making a Docker image for ocaml-language-server to use in the Eclipse IDE and Eclipse Che.

Here is the Dockerfile (it's not optimized, but it has what it needs to try things)
[code]
I've built the image locally and called it `caml-language-server`

Starting the image with `docker run -i caml-language-server`, I face the error `spawn ocamlmerlin ENOENT` whenever trying to start the

[2018-05-24 13:50] mickaelistria commented on #58
My former comment is also the reason while I opened #122 earlier. Both #122 and this #58 probably share the same root cause and take advantage of the same fix.

[2018-05-24 15:20] brendanlong opened #124 "ocp-indent runs at workspace root instead of project root"
If I create a VS code workspace with multiple projects, ocp-indent runs at the top of the workspace, ignoring the .ocp-indent files in the individual projects. If I close the workspace and only open a single folder, ocp-indent works as expected.

I think this is related to #69. Basically we need to run ocp-indent in `workspaceFolder` instead of `workspaceRoot`:

https://code.visualstudio.com/docs/

[2018-05-29 20:50] rauanmayemir opened #127 "Reformatted code gets cut"
I often get issues with vscode 'format on save' messing up my code like in the screenshot:

![image](https://user-images.githubusercontent.com/9691/40684106-4e1ab42e-63b2-11e8-9aef-172f4e7e3026.png)

I suspect that this is usually the case when somewhere in the file I have a method with incorrect and/or commented out code. The latter gets reformatted multiple times to a point where it's so garbled

[2018-06-01 05:03] bobzhang commented on #76
Hi all, I am going to introduce a push mode for bsb, so whenever `bsb` finished a job, it will send a message to the websocket client, let me know if it could help here

[2018-07-13 17:56] anmonteiro opened #129 "Go to definition doesn't know about methods in objects"
Was trying to `go to definition` on an object method from a `self#objmethodcall` but the lang server doesn't know where `method objmethodcall` is.

[2018-07-16 22:40] freebroccolo commented on #129
The locations for jumping to a definition are determined from Merlin so I'm guessing this is an upstream issue. Have you tried it using the emacs or vim modes using Merlin directly? If it doesn't work there either, can you report this to the Merlin repo directly?

[2018-08-06 13:37] shoorlyne commented on #58
I am seeing this issue as well. It's blocking ...

[2018-08-06 20:24] freebroccolo commented on #122
Sorry for the late response to this.

Briefly, the problem here has to do with the changes "opam init" makes to the shell init scripts and when those changes are active for a given shell session. I don't have a development environment handy to double check at the moment, but IIRC, on Linux with bash the OPAM environment will only be initialized properly for login shells.

One possible way to work

[2018-08-06 20:24] #122 closed

[2018-08-06 20:29] freebroccolo commented on #58
I've responded to #122 directly.

I don't think #122 is directly related to this issue so I'm going to close this one to avoid confusion. @shoorlyne can you please create a new issue with a description of what exactly is going wrong for you (along with details about your development environment)?

[2018-08-06 20:29] #58 closed

[2018-09-16 15:29] leeor opened #130 "Linting error when using reason-cli, bsb-native, and rex-json"
When `ocaml-language-server` is used as a linter through `w0rp/ale` with VIM, in a native project that uses rex-json (JSON parser with native support), the following error is reported on the first line of the file:

[code]

Build passes with no errors or warnings, and when using a JavaScript backend the error is not shown.

Minimal reproduction repo: https://github.com/leeor/ols-bug-ref-repo.

[2018-11-15 23:01] jordwalke commented on #127
Another issue that is exclusively related to format-on-save:
Start with this file:

[code]

Then enter an additional newline above the comment like this:

[code]

Then save to trigger a reformat. Repeat over and over again. You'll notice at one point the file becomes "corrupt" in a sense. It will reformat to:

[code]

And it will get stuck like this. Even if you delete the newline between the comm

[2018-11-16 20:33] freebroccolo commented on #127
@jordwalke it is possible to disable format on save globally: just open the vscode settings page and type "format" and it should show up as one of the first few options. I think that setting can be made local to a language mode too but I haven't tried it.

As for what is causing this behavior I'm not sure. It is probably something going wrong with the way the Synchronizer component (https://github

[2018-11-16 23:30] jordwalke commented on #127
Thanks. I’ve disabled format on save but I would like to disable it entirely at the language server level because we don’t have a good way to ensure it’s disabled and people just assume the entire lsp is fragile when it’s mostly just this one feature.

[2019-07-27 09:46] Risto-Stevcev opened #134 "Support renaming across multiple files"
I'm trying `lsp-rename` using `lsp-mode` in emacs, but it only renames in the current file instead of all references

[2019-08-04 05:50] b0o opened #135 "ShowErrorMessage is spamming LanguageClient-neovim with message requests"
I have spent the past 5 hours trying to find the root of a very invasive behavior of ocaml-language-server + LanguageClient-neovim.

Messages such as the following appear when merlin has any sort of issue:

![ocaml-langserver-bug](https://user-images.githubusercontent.com/21299126/62419786-9f193380-b63d-11e9-9775-57e2a94e6b4b.png)

I have to dismiss 20+ of these messages by pressing enter repeated

[2019-08-04 05:52] b0o commented on #135
Other issues:
https://github.com/autozimu/LanguageClient-neovim/issues/859
https://github.com/microsoft/vscode-languageserver-node/issues/507
https://github.com/freebroccolo/ocaml-language-server/issues/135

[2019-08-09 07:31] KevinSjoberg opened #136 "Language key is invalid on hover responses (perhaps more places)"
I recently reported an issue over at https://github.com/tomv564/LSP/issues/677. I could not get highlighting to work properly for hover requests. Debugging the payload from the `ocaml-language-server` I found out that the `language` key is invalid.

[code]

It's value is `reason.hover.type` but looking at the [language server specification](https://microsoft.github.io/language-server-protocol/spec

[2019-09-24 17:35] frank-emrich commented on #117
Not from my side, sorry

[2019-09-24 21:53] AZanellato commented on #117
Did you run `opam user-setup install`? I had this problem running this

[2019-10-02 02:34] #50 closed

[2019-10-02 08:29] pakoito commented on #50
And there was much joy

Thank you!

[2019-10-02 18:30] frank-emrich commented on #117
I'm not sure what I did back then, but I'm also not using that particular setup any more.

[2019-10-02 18:31] #117 closed

[2019-10-14 00:04] PBhandari99 commented on #117
Any solutions here?

[2019-10-14 02:51] AZanellato commented on #117
The issue is closed, can you at least provide a bit more information @PBhandari99 ?

Did you try `opam user-setup install`?